<ion-header>
  <ion-navbar>
    <ion-title>Galeria de Imagens</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="imagesGallery.length" text-center>
    <ion-row>
      <ion-col *ngFor="let image of imagesGallery" col-4>
        <img [src]="sanitizer.bypassSecurityTrustUrl(image)" (click)="viewImage(image)" class="rounded-photo"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="!imagesGallery.length">Comece adicionando algumas imagens!</p>

  <ion-fab right bottom>
    <button ion-fab color="blue">
      <ion-icon name="add"></ion-icon>
    </button>

    <ion-fab-list side="top">
      <button ion-fab color="blue" (click)="addFromCamera()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-fab color="blue" (click)="addFromGallery()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
